csv/audience/*
csv/results/*
csv/winners/
csv/used_customer_ids.json
csv/comp1001*.csv

src/services/*
!src/services/generate_winners_csv.ts

utils

DB

index.ts
.env
tsconfig.json

.DS_Store

comp1001*.csv